body {
  /* max-width: 1500px; */
  margin: 0 auto;
}

.ttl__tag {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  color: #c71585;
  padding: 10px 0;
}

.header  
.header__container {
  margin: 0 auto;
}
.header__top {
  display: flex;
  justify-content: space-between;
  margin: 10px 30px;
}

.header__logo img {
  width: 200px;
}

.header__link--item {
  padding: 20px 0 0;
}

.header__link--list {
  display: inline;
  margin: 0 5px;
}

.header__link--item a {
  text-decoration: none;
  font-size: 1.2rem; 
  color: #808080;
}

/* .firstview */
.firstview__relative {
  position: relative;
  margin-bottom: 100px;
}

.firsuview__img {
  margin: 0 0 0 auto;
  display: block;
  
}

.firstview__absolute {
  position: absolute;
  top: 10%;
  left: 19%;
  width: 50%;
}

.firstview__ttl {
  font-size: 4.8rem;
  padding: 10px;
  color: #c71585;
  line-height: 80px;
/* font-family: 'Dancing Script', cursive; */
  font-family: 'Indie Flower', cursive;
/* font-family: 'Merriweather', serif; */
  margin-bottom: 40px;
}

.firstview__ttl--sub {
  font-size: 2rem;
  padding: 0px 10px;
  color: #c71585 ;
}

.firstview__text {
  font-size: 1.4rem;
  color:  #808080;
  padding: 10px;
  line-height: 20px;
}

.firstview__span {
  color: rgb(37, 178, 185);
}

/* news */
.news {
  margin: 0 auto;
  width: 800px;
}

.news__container {
  margin: 0 auto;
}

.news__top {
  margin-bottom: -5px;
}

.news__update {
  color: #808080;
  font-size: 1.2rem;
  
}

.news__hr {
  margin: 30px 0 15px; 
  border: #F8F8FF ;
}

.news__content{
  display: flex;
  border-bottom: solid 1px #808080;
  padding: 20px 0;
}

.news__date {
  font-size: 1.2rem;
  color:  #808080;
  margin-right: 25px;
}

.news__btn {
  font-size: 1rem;
  text-decoration: none;
  margin-right: 30px;
  color: white;
  width: 90px;
  height: 20px;
  background-color:  #c71585;
  text-align: center;
  border-radius: 30px;
  display: block;
  padding-top: 7px;
}

.news__text {
  font-size: 1.2rem;
  color:  #808080;
}


/* about */
.about {
   background-color: #f5f5f5;
   margin-top: 50px;
}
.about__top {
  text-align: center;
  padding-top: 5px;
  margin-bottom: 20px;
}

.about__ttl {
  padding: 10px 0;
}

.about__Technology {
  font-size: 1.4rem;
  color: rgb(99, 94, 94);
}

.about__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about__text--area{
  color: #808080;
  padding: 10px 20px;
  margin-right: 150px;
}

.about__img {
  width: 30%;
  padding: 10px 20px;
}

.about__text--system {
  font-size: 1.2rem;
  padding: 10px;
  line-height: 26px;
}

/* service */

.service {
  margin: 30px 250px;
}

.service__top {
  padding-bottom: 30px;
}
.service__container {
  /* margin: 20px auto 300px; */
}
.service__content {
  padding-bottom: 10px;
  color: #808080;
  font-size: 1.4rem;
}

.service__grid {
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 4fr 4fr;
  margin: 0 auto;
}

.service__box1 {
  background-image: url(../img/service__first.svg);
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  grid-row: 1/3;
  grid-column: 1/2;
  background-color: #91075e;
  color: #f5f5f5;
}

.box1__item {
 margin: 210px auto 20px;
}

 .education__business {
  text-align: center;
  font-size: 1.2rem;
}

.service__sumpletext {
  font-size: 1rem;
  padding: 15px 100px;
  line-height: 30px;
  text-align: left;
}

.service__box2 {
  background-image: url(../img/service__first.svg);
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: 10% 20%;
  grid-row: 1/3;
  grid-column: 2/3;
  background-color: #bb5c99;
  color: #f5f5f5;
  padding-left: 35px;
  height: 200px;
}

.service__box3 {
  background-image: url(../img/service__first.svg);
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: 10% 20%;
  grid-row: 2/3;
  grid-column: 2/3;
  background-color: #c077a0;
  color: #f5f5f5;
  padding-left: 35px;
}

.box__item--sub  {
  margin: 40px 5px 10px 200px;
}

.education__business--sub {
  font-size: 1rem;
}

.service__sumpletext--sub {
  font-size: 1rem;
  padding: 10px 0;
  line-height: 30px;
}


/* blog */

.blog {
  background-color: #F5F5F5;
 }

.blog__container {
  margin-left: 240px;
}

.blog__ttl--item {
 margin: 10 0 10 20px;
}

.blog__ttl {
  color: #808080;
  font-size: 1.4rem;
}

.blog__flex--item {
  display: flex;
  justify-content: space-around;
  width: 87%;
  
}

.blog__img--content {
  /* box-shadow: 0px 3px 10px black; */
  width: 30%;
  position: relative;
  border-radius: 15px;
  background-color: #F8F8FF;
  margin: 10px 0;
}

.blog__img img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.blog__tag {
  background-color: #c71585;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 15px 0 0 0;
  color: #f5f5f5;
  position: absolute;
  font-size: 16px;
}

.blog__card--content {
   padding: 15px 25px;
}

.blog__card--ttl {
  font-size: 1.2rem;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #808080;
  font-weight: bold;
 
}

.blog__card--tag {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  color: 	#808080;
  font-size: 1.1rem;
}


.blog__listpage {
  /* margin: 40px; */
  text-align: center;
  padding-top: 40px;
}

.blog__listpage--btn {
  text-decoration: none;
  color: #c71585;
  width: 200px;
  border: 3px solid;
  margin: 0 auto;
  display: block;
  border-radius: 30px;
  padding: 20px 0;
  font-weight: 600;
}

/* company */
.company {
  /* width: 100%; */
  margin: 10px 0;
}

.company__container {
  margin: 0 500px;
}

.company__ttl--item {
  margin: 20px 0;
  padding-top: 30px;
  display: block;
}

.company__profile {
  color: #808080;
  margin: 10px 0;
  font-size: 1.4rem;
}

.company__table {
  /* margin: 10px auto; */
  color: #808080;
  font-size: 1.2rem;
}

.company__table tr {
  line-height: 50px;
}

.company__table th {
  width: 250px;
  text-align: left;
  background-color: #f5f5f5;
  padding-left: 20px;
  border: solid 1px #d3d3d3;
}

.company__table td {
  width: 600px;
  padding-left: 20px;
  border: solid 1px #d3d3d3;
}

.company__img--item {
  display: flex;
  margin: 60px 0;
  height: 300px;
}

.company__recruit {
  position: relative;
  background-image: url(../img/recruit.png);
  width: 50vw;
  /* height: 25vh; */
}

.recruit__ttl {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3rem;
  color: white;
  transform: translate(-50%,-50%);
}


.company__interview {
  position: relative;
  background-image: url(../img/interview.png);
  width: 50vw;
}

.interview {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3rem;
  color: white;
  transform: translate(-50%,-50%);
} 
.company__img--item p {
  color: white;
  font-size: 30px;
  font-weight: bold;
  
}

.company__inquiry {
  text-align: center;
  color: #808080;
}

.inquiry__border {
  background-color: #91075e;
  color: #91075e;
  width: 2px;
  height: 40px;
  margin: 20px auto 0;
}

.inquiry__btn {
  position: relative;
  background-color: #ff1493;
  width: 230px;
  display: block;
  text-decoration: none;
  color: white;
  padding: 30px;
  text-align: center;
  margin: 20px auto;
  border-radius: 50px;
  box-shadow: 0 7px 0 #91075e;
}

.inquiry__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 30px;
  background: url(../img/mailicon.svg)no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
}

/* footer */
.footer__copyright {
  width: 100%;
  background-color: #dcdcdc;
  color: #808080;
  padding: 20px 0;
  text-align: center;
  font-size: 12px;
  margin-top: 70px;
}
